@using OSDevGrp.ReduceFoodWaste.WebApplication.Resources
@model OSDevGrp.ReduceFoodWaste.WebApplication.Models.HouseholdModel

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Texts.Startup.</h1>
                <h2>@string.Format(Texts.WelcomeTo, @Texts.ReduceFoodWasteProject)</h2>
            </hgroup>
            <p>@Texts.TimeToCreateYourFirstHousehold</p>
        </div>
    </section>
}
