@using OSDevGrp.ReduceFoodWaste.WebApplication.Resources
@{
    ViewBag.Title = Texts.LogIn;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@Texts.LogInUsingAnotherService</h2>
</hgroup>

<section class="social" id="socialLoginForm">
    @Html.Action("ExternalLoginsList", new { ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
