@using OSDevGrp.ReduceFoodWaste.WebApplication.Resources
@{
    ViewBag.Title = Texts.LogIn;
}

<hgroup class="title">
    <h1>@Texts.LogInUsingAnotherService</h1>
</hgroup>
<section id="externalLogins">
    @Html.Action("ExternalLoginsList", new { ViewBag.ReturnUrl })
</section>