<div class="content-wrapper clear-fix">
    <div class="float-left">
        <p><strong>X:</strong> Y</p>
        <form class="float-right" action="@Url.Action("NoCookies", "Site", new {ReturnUrl = Request.RawUrl})" method="post" data-async="true" data-target="#cookie-alert">
            <input type="submit" name="decline" class="ui-button" value="Decline" />
        </form>
        <form class="float-right" action="@Url.Action("AllowCookies", "Site", new {ReturnUrl = Request.RawUrl})" method="post">
            <input type="submit" name="allow" class="ui-button" value="Allow" />
        </form>
    </div>
</div>
