@using OSDevGrp.ReduceFoodWaste.WebApplication.Filters
@using OSDevGrp.ReduceFoodWaste.WebApplication.Resources
@if (CookieConsentAttribute.AskCookieConsent(ViewContext))
{
    <div class="row">
        <div id="cookie-alert">
            <div class="alert">
                <p><strong>@Texts.Cookies:</strong> @Texts.CookieConsent</p>
                @using (Html.BeginForm("AllowCookies", "Home", new {ReturnUrl = Request.RawUrl}, FormMethod.Post, new {@class = "btn-group-vertical"}))
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" class="btn btn-success" value="@Texts.Accept"/>
                }
            </div>
        </div>
    </div>
}