@using OSDevGrp.ReduceFoodWaste.WebApplication.Resources
<ul>
    <li>@Html.ActionLink(Texts.English, "Set", "Language", new { language = "en" }, null)</li>
    <li>@Html.ActionLink(Texts.Danish, "Set", "Language", new { language = "da" }, null)</li>
</ul>
