@if (string.IsNullOrEmpty(ViewBag.StatusMessage) == false)
{
    <p class="message-success">@ViewBag.StatusMessage</p>
}
@if (string.IsNullOrEmpty(ViewBag.ErrorMessage) == false)
{
    <p class="message-error">@ViewBag.ErrorMessage</p>
}
