@using OSDevGrp.ReduceFoodWaste.WebApplication.Resources
@model OSDevGrp.ReduceFoodWaste.WebApplication.Models.HouseholdIdentificationCollectionModel

@if (Model.Any() || Model.HouseholdMemberCanAddHouseholds)
{
    <hr/>
    foreach (var householdIdentificationModel in Model)
    {
        <ul class="nav nav-sidebar">
            <li class="nav-item active">@Html.ActionLink(householdIdentificationModel.Name, "Manage", "Household", new {householdIdentifier = householdIdentificationModel.Identifier}, new {@class = "nav-link"})</li>
        </ul>
    }
    if (Model.HouseholdMemberCanAddHouseholds)
    {
        <ul class="nav nav-sidebar">
            <li class="nav-item active">@Html.ActionLink(string.Format("{0} {1}", Texts.Add, Texts.Household.ToLower()), "AddHousehold", "HouseholdMember", null, new {@class = "nav-link"})</li>
        </ul>
    }
}