@using OSDevGrp.ReduceFoodWaste.WebApplication.Infrastructure.Security.Authentication
@using OSDevGrp.ReduceFoodWaste.WebApplication.Resources

@if (User != null && User.Identity != null && User.Identity.IsAuthenticated)
{
    <ul class="nav nav-sidebar">
        <li class="nav-item active">@Html.ActionLink(User.Identity.Name, "Manage", "Account", null, new {@class = "nav-link"})</li>
    </ul>
}
@if (User != null && User.Identity != null && User.Identity.IsAuthenticated && User.Identity.IsValidatedHouseholdMember())
{
    <ul class="nav nav-sidebar">
        <li class="nav-item active">@Html.ActionLink(Texts.Dashboard, "Dashboard", "Dashboard", null, new {@class = "nav-link"})</li>
    </ul>
}
<div class="partialContents" data-url="@VirtualPathUtility.ToAbsolute("~/Sidebar/HouseholdIdentificationCollection")">
</div>