@using OSDevGrp.ReduceFoodWaste.WebApplication.Resources
@model HandleErrorInfo

@{
    ViewBag.Title = Texts.Error;
}

<hgroup class="title">
    <h1 class="error">@Texts.Error.</h1>
    <h2 class="error">@Texts.ErrorOccurredProcessingRequest</h2>
</hgroup>
@if (Model.Exception != null)
{
    <p>@Texts.Reason: @Model.Exception.Message</p>
}
