@model OSDevGrp.ReduceFoodWaste.WebApplication.Models.DashboardModel

@* TODO: http://v4-alpha.getbootstrap.com/components/card/ *@
<div class="card-deck-wrapper">
    <div class="card-deck">
        @foreach (var household in Model.Households)
        {
            <div class="card">
                <img class="card-img-top" src="@VirtualPathUtility.ToAbsolute("~/Images/household.png")"/>
            </div>
        }
    </div>
</div>