@model OSDevGrp.ReduceFoodWaste.WebApplication.Models.DashboardModel

@* TODO: http://v4-alpha.getbootstrap.com/components/card/ *@

<div class="card-columns">
    @foreach (var household in Model.Households)
    {
        <div class="card">
            <img class="card-img-top" src="@VirtualPathUtility.ToAbsolute("~/Images/household.png")"/>
            <div class="card-block">
                <h5 class="card-title text-xs-center">@household.Name</h5>
            </div>
        </div>
    }
</div>
