@using OSDevGrp.ReduceFoodWaste.WebApplication.Resources
@model OSDevGrp.ReduceFoodWaste.WebApplication.Models.DashboardModel
@{
    ViewBag.Title = Texts.Dashboard;
}

@section sidebar {
    @Html.Partial("_Sidebar")
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
</hgroup>
<div class="partialContents" data-url="@VirtualPathUtility.ToAbsolute("~/Dashboard/HouseholdMemberInformation")">
    <img src="@VirtualPathUtility.ToAbsolute("~/Images/ajax-loader_bigspinner_green.gif")">
</div>