@using OSDevGrp.ReduceFoodWaste.WebApplication.Resources
@model OSDevGrp.ReduceFoodWaste.WebApplication.Models.DashboardModel

@{
    ViewBag.Title = Texts.Dashboard;
}

@section sidebar {
    @Html.Partial("_Sidebar")
}

<h2>@Texts.Dashboard</h2>
