<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="SecurityConnection" connectionString="Server=[TBD];Initial Catalog=[TBD];Persist Security Info=False;User ID=[TBD];Password=[TBD];MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <siteConfiguration>
    <callbackAddress value="http://formindskmadspild.dk" xdt:Transform="Replace"/>
  </siteConfiguration>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="OSDevGrp.ReduceFoodWaste.SecureByUserNameTransactionHttpBinding" />
      </wsHttpBinding>
      <ws2007FederationHttpBinding>
        <binding name="OSDevGrp.ReduceFoodWaste.SecureByUserNameTransactionFederationHttpBinding">
          <security>
            <message>
              <issuer address="http://[TBD]/[TBD]/basicsecuritytokenservice.svc/WSUserName" bindingConfiguration="OSDevGrp.ReduceFoodWaste.SecureByUserNameTransactionHttpBinding" xdt:Transform="SetAttributes(address)" xdt:Locator="Match(bindingConfiguration)" />
              <issuerMetadata address="http://[TBD]/[TBD]/basicsecuritytokenservice.svc/mex" xdt:Transform="SetAttributes(address)" />
            </message>
          </security>
        </binding>
      </ws2007FederationHttpBinding>
    </bindings>
    <client>
      <endpoint name="HouseholdDataService" address="http://[TBD]/[TBD]/foodwastehouseholddataservice.svc" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="OSDevGrp.ReduceFoodWaste.EndpointBehavior">
          <clientCredentials>
            <serviceCertificate>
              <scopedCertificates xdt:Transform="Replace">
                <clear/>
                <add targetUri="http://[TBD]/[TBD]/basicsecuritytokenservice.svc/WSX509" findValue="OSDevGrp.OSIntranet.Services" storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindBySubjectName" />
                <add targetUri="http://[TBD]/[TBD]/basicsecuritytokenservice.svc/WSUserName" findValue="OSDevGrp.OSIntranet.Services" storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindBySubjectName" />
                <add targetUri="http://[TBD]/[TBD]/foodwastehouseholddataservice.svc" findValue="OSDevGrp.OSIntranet.Tokens" storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindBySubjectName" />
              </scopedCertificates>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>