<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="SecurityConnection" connectionString="Data Source=MOTHER\SQLEXPRESS;Initial Catalog=OSDevGrp.ReduceFoodWaste.WebApplication.Security;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\OSDevGrp.ReduceFoodWaste.WebApplication.Security.mdf" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="OSDevGrp.ReduceFoodWaste.SecureByUserNameTransactionHttpBinding" />
      </wsHttpBinding>
      <ws2007FederationHttpBinding>
        <binding name="OSDevGrp.ReduceFoodWaste.SecureByUserNameTransactionFederationHttpBinding">
          <security>
            <message>
              <issuer address="http://mother/osintranet/basicsecuritytokenservice.svc/WSUserName" bindingConfiguration="OSDevGrp.ReduceFoodWaste.SecureByUserNameTransactionHttpBinding" xdt:Transform="SetAttributes(address)" xdt:Locator="Match(bindingConfiguration)" />
              <issuerMetadata address="http://mother/osintranet/basicsecuritytokenservice.svc/mex" xdt:Transform="SetAttributes(address)" />
            </message>
          </security>
        </binding>
      </ws2007FederationHttpBinding>
    </bindings>
    <client>
      <endpoint name="HouseholdDataService" address="http://mother/osintranet/foodwastehouseholddataservice.svc" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </client>
  </system.serviceModel>
</configuration>