@using OSDevGrp.ReduceFoodWaste.WebApplication.Resources
@{
    ViewBag.Title = Texts.HomePage;
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            @if (Request.IsAuthenticated == false)
            {
                <p>@Texts.PleaseLogIn @Texts.ReduceFoodWasteProject.</p>
            }
        </div>
    </section>
}
